body {
    margin: 0;
    font-size: 18px;
    background-color: #f6e58d;
    font-family: 'Roboto', sans-serif;
}

.container {
    /* border: 5px solid darkred; */
    display:flex;
	flex-direction: column;
	align-items: center;
}

/* Title */
.title {
    width: 90%;
    height: 120px;
    text-align: center;
    margin: 5%;
    /* background-color: #f65d20; */
}

.title-img {
    max-width: 100%;
}


/* Search */

.search {
    width: 90%;
    height: 50px;
    text-align: center;
    margin: 2%;
    /* background-color: #20f660; */
}

.input__search {
    width: 65%;
    height: 55px;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
}

.button__search {
    width: 30%;
    height: 55px;
    position: relative;
    left: -7px;
    border-radius: 0px 20px 20px 0px; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #356ABC;
    color: #f6e58d;
}

/* Pokemon */

.pokemon {
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
    /* background-color: #5920f6; */
}

.stats {
    height: 400px;
    display: flex;
    flex-flow: column wrap-reverse; /* flex-flow: flex-direction flex-wrap */
    margin-top: 20px;
    /* border: 5px solid darkred;  */
}


.container__sprite {
    width: 150px;
    height: 150px;
    border: 5px solid #000;
    margin: 22px 10px;
}

.sprite {
    height: 150px;
    /* border: 3px solid #000; */
}

.container-bar {
    width: 100px;
    height: 20px;
    border: 5px solid #000;
    border-top: none;
    border-right: none;
    font-size: .8em;
    font-weight: bold;
    margin: 5px 25px;
}

.health-bar {
    border: 2px solid #6ab04c;
    border-radius: 4px;
}


/* stats styles */

.container__description__stat {
    width: 45%;
    height: 60px;
    margin-right: 7px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px 0px;
    color: #605F5A;
    /* border: 5px solid darkred; */
    background: linear-gradient(159deg, #C8A48C 0%, #96B1AD 55%, 
    rgba(181,198,208,1) 55%, rgba(224,239,249,1) 100%);
}

/* #defenseStat {
    background: linear-gradient(159deg, #C8A48C 0%, #96B1AD 55%, 
    rgba(181,198,208,1) 55%, rgba(224,239,249,1) 100%);
}
#specialDefenseStat {
    background: linear-gradient(159deg, #C8A48C 0%, #96B1AD 55%, 
    rgba(181,198,208,1) 55%, rgba(224,239,249,1) 100%);
} */
.description-stat {
    margin: 6%;
}


.description-stat.right-text {
    text-align: right;
}

.hidden {
    display: none;
}

/* errors */
.error {
    text-align: center;
    /* border: 5px solid #000; */
}

.error p {
    font-size: 1.5em;
    font-weight: bold;
    color: #c0392b;
}

.error img {
    max-width: 100%;
}

/* media queries */

/* @media screen and (max-width: 500px) and (min-width: 320px) {

} */