body {
    margin: 0;
    font-size: 18px;
    background-color: #F7DE5C;
    font-family: 'Roboto', sans-serif;
}

.container {
    /* border: 5px solid darkred; */
    display:flex;
	flex-direction: column;
	align-items: center;
}

/* Title */
.title {
    width: 90%;
    height: 120px;
    text-align: center;
    margin: 5%;
    /* background-color: #f65d20; */
}

.title-img {
    max-width: 100%;
}


/* Search */

.search {
    width: 90%;
    height: 50px;
    text-align: center;
    margin: 2%;
    /* background-color: #20f660; */
}

.input__search {
    width: 65%;
    height: 55px;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
}

.button__search {
    width: 30%;
    height: 55px;
    position: relative;
    left: -7px;
    border-radius: 0px 20px 20px 0px; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #356ABC;
    color: #f6e58d;
    cursor: pointer;
}

/* Pokemon */

.pokemon {
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
    border-radius: 20px;
    /* background-color: #5920f6; */
}

.stats {
    height: 400px;
    display: flex;
    flex-flow: column wrap-reverse; /* flex-flow: flex-direction flex-wrap */
    margin-top: 20px;
    /* border: 5px solid darkred;  */
}


.container__sprite {
    width: 150px;
    height: 150px;
    border: 5px solid #000;
    margin: 22px 10px;
}

.sprite {
    height: 150px;
    /* border: 3px solid #000; */
}


.container-bar {
    width: 100px;
    height: 20px;
    border: 5px solid #000;
    border-top: none;
    border-right: none;
    font-size: .8em;
    font-weight: bold;
    margin: 5px 25px;
}

.health-bar {
    border: 2px solid #6ab04c;
    border-radius: 4px;
}

.hp-bar {
    margin-left: 2%;
}


/* stats styles */

.container__description__stat {
    width: 45%;
    height: 60px;
    margin-right: 7px;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20px 0px;
    color: #605F5A;
}

#defenseStat {
    background: linear-gradient(180deg, #FFEFD2 0%, #FFEFD2 55%, 
    #e6c88f 55%, #e6c88f 100%);
}
#specialDefenseStat {
    background: linear-gradient(180deg, #E6DAFF 0%, #E6DAFF 55%, 
    #CEBBF5 55%, #CEBBF5 100%);
}  
#attackStat {
    background: linear-gradient(180deg, #EBFEDD 0%, #EBFEDD 55%, 
    #9ee271 55%, #9ee271 100%);
}  
#specialAttackStat {
    background: linear-gradient(180deg, #C4F4FF 0%, #C4F4FF 55%, 
    #71cbe2 55%, #71cbe2 100%);
} 

#speedStat {   
    background: linear-gradient(180deg, #FFFDFE 0%, #FFFDFE 55%, 
    #e6b6ce 55%, #e6b6ce 100%);
} 

#name_type {
    background: linear-gradient(180deg, #FFDACA 0%, #FFDACA 55%, 
    #e6a488 55%, #e6a488 100%);
}

#numberStat{
    background: linear-gradient(180deg, #E9F6FF 0%, #E9F6FF 55%, 
    #a4cbe6 55%, #a4cbe6 100%);
}

.description-stat {
    margin: 5% 5% 0 5%;
}


.description-stat.right-text {
    text-align: right;
}


.hidden {
    display: none;
}

/* errors */
.error {
    text-align: center;
    /* border: 5px solid #000; */
}

.error p {
    font-size: 1.5em;
    font-weight: bold;
    color: #c0392b;
}

.error img {
    max-width: 100%;
}

input[type=text], button {
    outline: none;
}
/* media queries */

@media screen and (min-width: 320px) {

    /* .container__description__stat {
        width: 40%;
    } */


    .container__description__stat{

        font-size: .8em;
    }

    .container__sprite {
        width: 35%;
        height: 30%;
    }

    .sprite {
        height: 120px;
        /* border: 3px solid #000; */
    }
}