body {
    margin: 0;
    font-size: 18px;
    background-color: #F7DE5C;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    /* border: 5px solid darkred; */
    display:flex;
	flex-direction: column;
	align-items: center;
}

/* Title */
.title {
    width: 90%;
    height: 120px;
    text-align: center;
    margin: 5%;
    /* background-color: #f65d20; */
}

.title-img {
    max-width: 100%;
}


/* Search */

.search {
    width: 90%;
    height: 50px;
    text-align: center;
    margin: 2%;
    /* background-color: #20f660; */
}

.input__search {
    width: 65%;
    height: 55px;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
}

.button__search {
    width: 30%;
    height: 55px;
    position: relative;
    left: -7px;
    border-radius: 0px 20px 20px 0px; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #356ABC;
    color: #f6e58d;
    cursor: pointer;
}

/* Pokemon */

.pokemon {
    width: 98vw;
    /* height: 95vh; */
    margin-top: 10%;
    border-radius: 20px;
    /* background-color: #5920f6; */
}

.stats {
    height: 400px;
    display: flex;
    flex-flow: column wrap-reverse; /* flex-flow: flex-direction flex-wrap */
    margin-top: 20px;
    /* border: 5px solid darkred;  */
}


.container__sprite {
    width: 45vw;
    height: 30%;
    /* border: 5px solid #000; */
    margin: 22px 10px;
}

.sprite {
    height: 150px;
    /* border: 3px solid #000; */
}


.container-bar {
    width: 120px;
    height: 20px;
    border: 5px solid #000;
    border-top: none;
    border-right: none;
    font-size: .8em;
    font-weight: bold;
    margin: 5px 25px;
}

.health-bar {
    border: 2px solid #52ae4b;
    border-radius: 4px;
}

.hp-bar {
    margin-left: 2%;
}


/* stats styles */

.container__description__stat {
    width: 40%;
    height: 15%;
    font-size: .8em;
    margin-bottom: 3%;
    font-weight: bold;
    border-radius: 20px 0px;
}

#defenseStat {
    background: linear-gradient(180deg, #FFEFD2 0%, #FFEFD2 55%, 
    #e6c88f 55%, #e6c88f 100%);
    border: 2px solid #e6c88f;
}
#specialDefenseStat {
    background: linear-gradient(180deg, #E6DAFF 0%, #E6DAFF 55%, 
    #CEBBF5 55%, #CEBBF5 100%);
    border: 2px solid #CEBBF5;
}  
#attackStat {
    background: linear-gradient(180deg, #EBFEDD 0%, #EBFEDD 55%, 
    #9ee271 55%, #9ee271 100%);
    border: 2px solid #9ee271;
    
}  
#specialAttackStat {
    background: linear-gradient(180deg, #C4F4FF 0%, #C4F4FF 55%, 
    #71cbe2 55%, #71cbe2 100%);
    border: 2px solid #71cbe2;
} 

#speedStat {   
    background: linear-gradient(180deg, #FFFDFE 0%, #FFFDFE 55%, 
    #e6b6ce 55%, #e6b6ce 100%);
    border: 2px solid #e6b6ce;
} 

#name_type {
    background: linear-gradient(180deg, #FFDACA 0%, #FFDACA 55%, 
    #e6a488 55%, #e6a488 100%);
    margin-top: 6%;
    border: 2px solid #e6a488;
}

#numberStat{
    background: linear-gradient(180deg, #E9F6FF 0%, #E9F6FF 55%, 
    #a4cbe6 55%, #a4cbe6 100%);
    border: 2px solid #a4cbe6;
}

.description-stat {
    margin: 5% 5% 0 5%;
}


.description-stat.right-text {
    text-align: right;
}


.hidden {
    display: none;
}

/* errors */
.error {
    text-align: center;
    /* border: 5px solid #000; */
}

.error p {
    font-size: 1.5em;
    font-weight: bold;
    color: #c0392b;
}

.error img {
    max-width: 100%;
}

input[type=text], button {
    outline: none;
}

/* media queries */

@media screen and (min-width: 550px) {
    .container__description__stat{
        width: 30%;
        height: 20%;
    }

    .container__sprite {
        width: 30%;
        height: 35%;
        /* border: 5px solid darkred; */
    }

    .sprite{
        height: 250px;
    }

    .container-bar {
        width: 200px;
        height: 20px;
        border: 5px solid #000;
        border-top: none;
        border-right: none;
        font-size: .8em;
        font-weight: bold;
        margin: 5px 25px;
    }
    
    .health-bar {
        border: 2px solid #6ab04c;
        border-radius: 4px;
    }
}

@media screen and (min-width: 1440px) {

    .stats {
        height: 600px;
    }
    .container__sprite {
        width: 30%;
        height: 35%;
        /* border: 5px solid #254; */
        margin: 22px 55px;
    }
    
    .sprite {
        height: 250px;
        margin-left: 25%;
        /* border: 3px solid #000; */
    }

    .container-bar {
        width: 300px;
        font-size: 1em;
        height: 4%;
    }

    .container__description__stat {
        font-size: 1em;
        height: 18%;
    }

    .input__search, .button__search {
        font-size: 1.2em;
    }
    
}